<div class="panel panel-default panel-info">


	<div class="row">
		<div class="col-md-6"> 
			<div class="panel-heading"> 
				<h3>Create New Section</h3>
			</div>
			<div class="panel-body">
				<%= render 'form', page_part: @page_part %>
			</div>
		</div>
		<div class="col-md-6"> 
			<%= # render '/page_layouts/form', page_layout: @page_layout 
				%>
		</div>
	</div>







	

	<div class="btn btn-default"><%= link_to 'View All ', page_parts_path %></div>
	<div class="btn btn-info"><%= link_to 'View All in this Contract ', page_parts_path(:contract_id => params["contract_id"]) %></div>
		<% if (params[:contract_id]) %>
			<%= link_to "New Contract Section in this Book", {controller: "page_parts", action: "new", contract_id: params[:contract_id]} %>
		<% else %>
			<%= link_to "Another Section in this Contract", {controller: "page_parts", action: "new", contract_id: params[:id]} %>
		<% end %>
</div>
