<div class="panel panel-default"> 
    <div class="panel-heading"> 
        <p id="notice"><%= notice %></p>
        <h1>Page Layouts</h1>
    </div>
<div class="panel-body"> 

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Posx</th>
        <th>Posy</th>
        <th>Page part</th>
        <th>Contract</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @page_layouts.each do |page_layout| %>
    <tr>
        <td><%= page_layout.id %></td>

        <td><%= page_layout.name %></td>
        <td><%= page_layout.posx %></td>
        <td><%= page_layout.posy %></td>
        <td><%= page_layout.page_part %></td>
        <td><%= page_layout.contract_id %></td>

        <td><div class="btn btn-default"><%= link_to 'Show', page_layout %></div></td>
        <td><div class="btn btn-default"><%= link_to 'Edit', edit_page_layout_path(page_layout) %></div></td>
        <td><div class="btn btn-default"><%= link_to 'Destroy', page_layout, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
    </tr>
    <% end %>
    </tbody>
</table>

<br>
</div>



<%=  render "sort/menu" 
%>