<!-- <div class="navbar">  -->
	<!-- <div class="jumbotron page_head"> -->
<div class="row ">
	<div class="col-lg-8 well well-sm sub-nav">Create pdf from record
		<%= link_to "Generate Pdf files", pdf_pages_create_path(format: 'pdf', records: @record_page_set, rec_id: @my_record ), class: "btn btn-primary btn-sm pull-right" %>
				<div class="btn-group pull-right">
				<div type="button" class="btn btn-default dropdown-toggle  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Records <span class="caret"></span>
				</div>
			<ul class="dropdown-menu">
				<% @records.length.times do |var|%>
			<!-- some_controller_name/some_get_request -->
					<li><%= link_to ('?rec_id=' + @records[var].id.to_s) do  %>
						<%= @records[var].id %>
						<%= @records[var].loan_name %><% end %>
					</li>
				<% end %>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>
	<div class="well well-sm col-lg-4 sub-nav">
 		<% if(@record_page_set.length > 2) %>
     		 Pdf Que : <%= @record_page_set %>
     				
		<% end %>
		<%= link_to " Clear ", pdf_pages_index_path(rec_id: @my_record ), class: "btn btn-default btn-sm pull-right"  %>
	</div>
<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->
	<div class="row">
		<div class="col-lg-4 ">
			<div class="panel panel-info">
				<div class="panel panel-heading">
					<div class="record_slide_lft well well-sm">
						<div class="btn-group " role="group" aria-label="...">
						  <button type="button" class="btn btn-default btn-sm"><%= link_to "Review Books", books_path %></button>
						  <button type="button" class="btn btn-default  btn-sm"><%= link_to "Review Contracts", contracts_path %></button>
						  <button type="button" class="btn btn-default  btn-sm"><%= link_to "New Records", new_record_path %></button>
						  <button type="button" class="btn btn-default  btn-sm"><%= link_to ">>", "?rec_id=#{ (params[:rec_id].to_i + 1)}" %></button>

						</div>
						<%= render 'records/form_show', record: @record %>
						<%= #render "pdf_pages/record_display" 
						%>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 ">
			<!-- <div class="panel panel-info"> -->
				<%= render "pdf_pages/samp_accord" %>
			<!-- </div> -->
		</div>
	</div>
</div>
	<div>
	<%= # render "pdf_pages/samp_accord"
	 %>
	</div>
	<!-- <div class="clickable"> -->