<%= form_with(model: layout, local: true) do |form| %>
  <% if layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :posx %>
    <%= form.number_field :posx %>
  </div>

  <div class="field">
    <%= form.label :posy %>
    <%= form.number_field :posy %>
  </div>

  <div class="field">
    <%= form.label :page_part_id %>
    <%= form.number_field :page_part_id %>
  </div>

 <div class="field">
    <%= form.label :contract_id %>
    <%= form.number_field :contract_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

