<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @layout.name %>
</p>

<p>
  <strong>Posx:</strong>
  <%= @layout.posx %>
</p>

<p>
  <strong>Posy:</strong>
  <%= @layout.posy %>
</p>

<p>
  <strong>Page part:</strong>
  <%= @layout.page_part_id %>
</p>

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
